* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Mynav {
    background-color: #fdfcf0e3 !important;
}

body.dark .Mynav {
    background-color: #1e1d1df1 !important;
}


.logo {
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #896234;
    font-size: 40px;
}

body.dark .logo {
    color: #e0e0e0;

}

.green {
    color: #1c4226;
}

body.dark .green {
    color: #858585;
}



.nav-link {
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #896234;
    font-size: 20px;
}

body.dark .nav-link{
    color: #e0e0e0;
}


.navBtn {
    background-color: #ffffff00;
    border-color: #1e4327;
    color: #1c4226;
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body.dark .navBtn {
    border-color: #333333 !important;
    background-color: #ffffff00;
    color: #858585;

}

body.dark .navBtn:hover {
    border-color: #333333 !important;
    background-color:  #858585;
    color: #ffffff ;

}
